/* Variables */

:root {
  --black: #000000;
  --gray-dark-500: #333333;
  --gray-dark-300: #666666;
  --gray-dark: #6A6A6A;
  --gray: #888888;
  --gray-light: #A9A9A9;
  --gray-light-200: #BDBBBC;
  --gray-light-100: #CACACA;
  --gray-light-50: #E5E5E5;
  --brown-dark: #503E33;
  --brown: #604E43;
  --brown-light: #766357;
  --blue-dark: #5496BD;
  --blue: #669EC0;
  --blue-light: #81B3D2;
  --whitesmoke-dark: #EBEBEB;
  --whitesmoke: #EEEEEE;
  --whitesmoke-light: #F2F2F2;
  --white: #FFFFFF;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--whitesmoke-light);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Grid */

.page-body {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.page-body-wrap {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  position: relative;
}

/* Main navigation */

.main-header {
  margin-bottom: 2px;
}

.main-navigation {
  line-height: 26px;
  background-color: transparent;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 73px;
  margin-right: 72px;
}

.site-navigation li {
  display: block;
  min-width: 227px;
}

.site-navigation a {
  color: var(--black);
  font-weight: bold;
}

.site-navigation li:nth-child(4n-1) {
  margin-left: 147px;
}

.site-navigation li:nth-child(4n-3),
.site-navigation li:nth-child(4n-2) {
  text-align: left;
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n) {
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--blue-light);
}

.site-navigation a:active {
  color: var(--black);
  opacity: 0.3;
}

.site-navigation .active {
  color: var(--brown-light);
}

/* Logo */

.main-header-logo {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 138px;
  left: calc(50% - 138px/2);
  top: 0;
  z-index: 1;
}

/* Description */

.description {
  text-align: center;
}

.description-image {
  background-color: var(--blue-dark);
  background-image: url("../img/description-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 76px;
  padding-bottom: 74px;
  margin-bottom: 42px;
}

.description-slogan {
  font-size: 21px;
  line-height: 27px;
  width: 470px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 42px;
}

/* Advantages */

.advantages {
  text-align: center;
  color: var(--gray-dark-500);
}

.advantages > p {
  line-height: 26px;
  margin-bottom: 52px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.advantages-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  padding-bottom: 82px;
}

.advantage-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.advantage-item .title {
  font-size: 21px;
}

.advantage-item h3,
.advantage-item h4,
.advantage-item p {
  margin: 0;
}

.advantage-item img {
  max-height: 256px;
}

.advantage-item-colorized,
.advantage-subitem,
.advantage-item-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.advantage-item-colorized {
  background-color: var(--blue-light);
  color: var(--white);
}

.advantage-item-colorized .title {
  padding-top: 47px;
  width: 151px;
  padding-bottom: 26px;
}

.advantage-item-colorized .order {
  padding-bottom: 25px;
}

.advantage-item-colorized .description {
  width: 310px;
  padding-bottom: 25px;
}

.advantage-item-dark {
  background-color: var(--whitesmoke);
  padding-bottom: 29px;
}

.advantage-item-dark .title {
  padding-top: 47px;
  width: 151px;
  padding-bottom: 26px;
}

.advantage-item-dark .order {
  padding-bottom: 24px;
}

.advantage-item-dark .description {
  width: 280px;
  padding-bottom: 25px;
}

.advantage-subitem .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  justify-content: flex-end;
  padding-bottom: 26px;
}

.advantage-subitem .description {
  width: 300px;
}

.advantage-subitem .food::before {
  background: url("../img/food.svg");
  content: "";
  display: block;
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-bottom: 28px;
}

.advantage-subitem .house::before {
  background: url("../img/house.svg");
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-bottom: 27px;
}

.advantage-subitem .souvenir::before {
  background: url("../img/gift.svg");
  content: "";
  display: block;
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-bottom: 27px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.dark-button {
  background-color: var(--brown-light);
  color: var(--white);
}

.dark-button:hover,
.dark-button:focus {
  background-color: var(--brown);
}

.dark-button:active {
  background-color: var(--brown-dark);
  color: rgba(255, 255, 255, 0.3);
}

.light-button {
  background-color: var(--blue-light);
  color: var(--white);
}

.light-button:hover,
.light-button:focus {
  background-color: var(--blue);
}

.light-button:active {
  background-color: var(--blue-dark);
  color: rgba(255, 255, 255, 0.3);
}

/* Find-hotel */

.find-hotel {
  text-align: center;
}

.find-hotel h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 32px;
  padding-left: 2px;
}

.find-hotel > p {
  color: var(--gray-dark-500);
  line-height: 24px;
  width: 435px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 45px;
}

.find-hotel-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 568px;
}

.find-hotel-form-container {
  overflow-y: hidden;
  position: absolute;
  z-index: 1;
  left: calc(50% - 568px/2);
}

.find-hotel-form {
  text-align: initial;
  font-weight: bold;
  background-color: var(--white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 458px;
  z-index: 2;
  padding: 55px;
  display: none;
  grid-template-columns: 112px 114px 118px 114px;
  align-items: center;
  row-gap: 24px;
}

.find-hotel-form-show {
  display: grid;
  -webkit-animation: slide-in 1s;
          animation: slide-in 1s;
}

.find-hotel-form-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.find-hotel-form label {
  grid-column-start: 1;
  padding-bottom: 6px;
}

.find-hotel-form label:last-of-type {
  grid-column-start: 3;
  padding-left: 53px;
}

.find-hotel-form input {
  font: inherit;
  text-transform: uppercase;
  border: 2px solid transparent;
  background-color: var(--whitesmoke-light);
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 11px;
  outline: none;
  margin-bottom: 5px;
}

.find-hotel-form input::-webkit-outer-spin-button,
.find-hotel-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.find-hotel-form input:hover {
  background-color: var(--whitesmoke-dark);
}

.find-hotel-form input:focus {
  border: 2px solid var(--gray-light-50);
  background-color: var(--white);
}

.find-hotel-form .date-input-group {
  display: flex;
  align-content: center;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 5;
}

.find-hotel-form .counter-input-group {
  display: flex;
  align-content: center;
  width: 100%;
  padding-top: 1px;
}

.find-hotel-form .date-input {
  width: inherit;
}

.find-hotel-form .counter-input {
  width: 27px;
  text-align: center;
  padding-left: 2px;
  -moz-appearance: textfield;
}

.datepicker-button {
  fill: var(--gray-light);
  border: 0;
  outline: none;
  height: 38px;
  padding-top: 3px;
  padding-right: 9px;
}

.datepicker-button:hover,
.datepicker-button:focus {
  fill: var(--black);
}

.datepicker-button:active {
  fill: var(--blue-light);
}

.counter-button {
  fill: var(--gray-light);
  border: 0;
  outline: none;
  width: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-right: 14px;
  padding-left: 14px;
}

.counter-button:hover,
.counter-button:focus {
  fill: var(--black);
}

.counter-button:active {
  fill: var(--blue-light);
}

.submit-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  grid-column: 1/-1;
  display: block;
  width: 100%;
  margin-top: 25px;
  margin-right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Map */

.map {
  background-color: var(--gray-light);
}

.map img {
  display: block;
}

.map iframe {
  display: block;
  border: none;
  position: absolute;
}

/* Filters */

.filter-form-container {
  background-color: var(--brown-dark);
  background-image: url("../img/filter-background.jpg");
  background-position: 100% 72%;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-form {
  color: var(--white);
  padding-top: 26px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-left: 59px;
  display: flex;
  flex-wrap: wrap;
}

.filter-fieldset {
  width: 230px;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-right: 13px;
}

.filter-fieldset label {
  margin: 0;
}

.filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 41px;
  padding-top: 13px;
}

.filter-fieldset li {
  padding-left: 1px;
  padding-bottom: 24.5px;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 12px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  background: url("../img/checkbox-off.svg");
  content: "";
  position: absolute;
  left: -41px;
  top: 0;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label::before {
  fill: var(--gray-dark);
}

.price-button-container {
  margin-left: auto;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-fieldset {
  height: 100px;
  width: 320px;
  padding: 0;
  padding-bottom: 18px;
}

.price-fieldset legend {
  padding-bottom: 11px;
}

.price-controls {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-image: url("../img/input-delimiter.png");
  background-position: calc(50% + 1px) 50%;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.price-controls input {
  font: inherit;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  outline: none;
  padding: 0;
  padding-bottom: 6px;
  padding-top: 5px;
  width: 70px;
  color: var(--white);
  -moz-appearance: textfield;
}

.price-controls label:nth-child(1){
  padding-left: 65px;
}

.price-controls label:nth-child(3){
  padding-left: 52px;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.range-controls {
  position: relative;
  padding-top: 20px;
  padding-right: 3px;
  padding-left: 9px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: var(--white);
}

.range-controls .toggle {
  background: url("../img/filter-button.svg");
  content: "";
  position: absolute;
  left: 1px;
  top: 11px;
  width: 19px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 0;
  border: none;
}

.range-controls .toggle:focus,
.range-controls .toggle:hover {
  background: url("../img/filter-button.svg");
  content: "";
  position: absolute;
  top: 10px;
  width: 23px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 23px 24px;
}

.range-controls .toggle-min:focus,
.range-controls .toggle-min:hover {
  left: -1px;
}

.range-controls .toggle-max {
  left: 253px;
}

.range-controls .toggle-max:focus,
.range-controls .toggle-max:hover {
  left: 252px;
}

.filter-submit-button {
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid var(--white);
  color: var(--white);
  padding-top: 5px;
  padding-right: 33px;
  padding-left: 34px;
  padding-bottom: 6px;
  margin-top: 5px;
  margin-right: 13px;
}

.filter-submit-button:hover,
.filter-submit-button:focus {
  background-color: var(--white);
  border-radius: 2px;
  border: 2px solid var(--white);
  color: var(--black);
}

.results-sort {
  display: flex;
  align-items: center;
}

.results-count {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  margin-top: -2px;
}

.results-count span {
  padding-left: 5px;
}

.results-sort .sort-type {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  padding-left: 47px;
  padding-top: 19px;
  padding-bottom: 24px;
}

.sort-type > p {
  padding-bottom: 1px;
}

.sort-type-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 239px;
}

.sort-type-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed var(--blue-light);
}

.sort-type-list a:hover,
.sort-type-list a:focus {
  color: var(--blue-light);
}

.sort-type-list a:active {
  color: var(--black);
  border: none;
}

.sort-type-list .active {
  color: var(--blue-light);
  border: none;
}

.sort-order {
  padding-top: 6px;
}

.sort-order-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 503px;
  width: 34px;
}

.sort-order-link path{
  fill: var(--gray-light-100);
}

.sort-order-link:hover path,
.sort-order-link:focus path {
  fill: var(--black);
}

.sort-order-link:active path {
  fill: var(--blue-light);
}

.sort-order-link-active path {
  fill: var(--blue-light);
}

/* Hotels */

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hotel-item {
  border-top: 1px solid var(--gray-light-50);
}

.hotel-item:last-child {
  border-bottom: 1px solid var(--gray-light-50);
}

.hotel-item .container {
  display: grid;
  grid-template-columns: 135px 1fr 200px;
  margin: 0 auto;
  width: 1054px;
  padding-top: 24px;
  padding-bottom: 30px;
}

.hotel-item img {
  display: flex;
  align-self: flex-end;
  width: 135px;
  height: 90px;
  margin: 0;
}

.hotel-item-main {
  padding-left: 29px;
}

.hotel-item h3,
.hotel-item p {
  margin: 0;
}

.hotel-item-title {
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  margin: 0;
  padding-bottom: 7px;
}

.hotel-item-title:hover,
.hotel-item-title:focus {
  color: var(--blue-light);
}

.hotel-item-title:active {
  color: var(--black);
  opacity: 0.3;
}

.hotel-item-main .description {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  -moz-column-gap: 6px;
       column-gap: 6px;
  row-gap: 15px;
  text-align: left;
}

.hotel-item-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.rating-stars {
  display: flex;
  height: 17px;
}

.rating-star {
  background-image: url("../img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 19px;
  padding-right: 5px;
}

.hotel-item-detail.button {
  font-weight: bold;
  padding-top: 3px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 17px;
}

.hotel-item-reserve.button {
  font-weight: bold;
  padding-left: 16px;
  padding-right: 18px;
}

.hotel-item .item-rating {
  color: var(--gray-dark-300);
  background-color: var(--whitesmoke-light);
  padding-right: 12px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 15px;
}

.hotel-item-rating .rating-stars {
  padding-top: 5px;
  margin-right: -4px;
}

/* Page footer */

.page-footer {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 14px;
  padding-bottom: 20px;
}

.main-page-footer {
  margin-top: -120px;
  z-index: 2;
  opacity: 0.9;
}

.page-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: block;
  margin-left: 74px;
  text-align: center;
}

.footer-contacts p {
  margin: 8.5px;
}

.footer-contacts a {
  color: var(--black);
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

.social-button {
  color: inherit;
  background-color: var(--blue-light);
  width: 46px;
  height: 48px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--blue);
}

.social-button:active {
  background-color: var(--blue-dark);
  fill-opacity: 0.3;
}

.footer-copyright {
  line-height: 26px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 72px;
  padding-top: 6px;
}

.footer-copyright span {
  padding-top: 13px;
}

.copyright-button {
  outline: none;
  padding-left: 8px;
  padding-top: 3px;
}

.copyright-button svg {
  width: 115px;
  height: 41px;
}

.copyright-button:hover path,
.copyright-button:focus path {
  fill: var(--blue-light);
}

.copyright-button:active path {
  fill: var(--gray-light-200);
}

/* Animations */

@-webkit-keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
